.viewport{  
  margin-left: 35%;
  margin-right: 35%;
}

.indicatorsList{
  text-align: center;
}

.list {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none ;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  list-style: none;
  padding: 0px;
  border-radius: 13px;
  border: 3px solid black;
}

.list::-webkit-scrollbar {
  display: none;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 0px 3px 1px white; 
  width: 100%;
  height: 250px;
  flex-shrink: 0;
  scroll-snap-align: start; 
}

li:nth-child(2n){
  background-color: blue;
}

li:nth-child(2n+1){
  background-color: red
}

.indicator{
  background: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.active{
  background: blue;
}

.buttonGroup{
  position: relative;
}

.prev{
  position: absolute;
  top: 150px;
  left: 0px;
  cursor: pointer;
  margin: 10px;
}

.next{
  position: absolute;
  top: 150px;
  cursor: pointer;
  right: 0px;
  margin: 10px;
}