body{
  display: flex;
  justify-content: center;
}

.viewport{ 
  width: 60%;
  height: 60%;
}

.indicatorsList{
  display: flex;
  justify-content: center;
  margin-top: 1vh;
}

.list {
  display: flex;
  overflow-x: scroll;
  padding: 0;
  margin: 0;
  scrollbar-width: none ;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  list-style: none;
  border-radius: 1vh;
  border: 3px solid black;
}

.list::-webkit-scrollbar {
  display: none;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  text-shadow: 0px 0.3vh 0.1vh white; 
  width: 100%;
  height: 40vh;
  flex-shrink: 0;
  scroll-snap-align: start; 
}

li:nth-child(2n){
  background-color: blue;
}

li:nth-child(2n+1){
  background-color: red
}

.indicator{
  background: red;
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  margin: 0 0.1vw;
  cursor: pointer;
  border: none;
  outline: none;
}

.active{
  background: blue;
}

.buttonGroup{
  position: relative;
  height: 0;
}

.prev{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 40vh;
  width: 5vw;
  background-color: rgba(0,0,0,0);
  border: none;
  outline: none;
  border-radius: 1vh;
}

.next{
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  height: 40vh;
  width: 5vw;
  background-color: rgba(0,0,0,0);
  border: none;
  outline: none;
  border-radius: 1vh;
}

.prev:hover, .next:hover{
  background-color: rgba(0,0,0,0.3);
  border: none;
}

.Spinner {
  margin: 20vh auto;
  text-align: center;
  position: relative;
  font-size: 1vh;
  display: block;
}

.Spinner:before,
.Spinner:after {
  position: absolute;
  content: '';
}

.Spinner:before {
  top: -5em;
  left: -5em;
  height: 10em;
  width: 5em;
  border-radius: 10em 0 0 10em;
  background: red;
  transform-origin: 5em 5em;
  animation: load 2s infinite ease 0.5s;
}

.Spinner:after {
  top: -5em;
  left: 0;
  height: 10em; 
  width: 5em;
  border-radius: 0 10em 10em 0;
  background: red;
  transform-origin: 0em 5em;
  animation: load infinite ease 2s;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
